/* General Project CSS */

.project-img {
	margin-top: 10%;
	max-width: 100%;
	max-width: 100%;
}


h1 {
	text-align: center;
	font-size: 4rem;
}

h4 {
	color: var(--grey);
	text-align: center;
	margin-top: 1%;
}

h5 {
	font-size: 1.3rem;
	font-weight: 300;
	margin-bottom: 1%;
}

.project-info {
	padding: 1rem 7rem;
	margin-top: 2%;
	display: flex;
	white-space: nowrap;
	gap: 12%;
	justify-content: center;
	margin-bottom: 7%;
}

.project-content {
	margin-top: 4%;
	margin-bottom: 4%;
	max-width: 90%;

}

.subtitle {
	text-align: left;
	color: var(--grey);
	margin-bottom: 1%;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 17px;
  margin-bottom: 4%;
}

.product-grid img {
  width: 100%;
  height: auto;
  border: solid 0.01rem var(--purple) ;
}


.highlight-content {
	margin-top: 4%;
	margin-bottom: 4%;
	max-width: 90%;
	font-size: 1.2rem;
}


.h3-title {
	margin-top: 5%;
}

.next-box {
	display: flex;
	flex-direction: column;
	margin-top: 15%;
	margin-left: auto;
  text-align: right; 
   width: fit-content; 

}

.next-box .text-link {
	margin-top: 2%;
  display: inline-block;
  max-width: 100%; 

}


@media screen and (max-width: 80em) {
  .project-info {
  	padding: 1rem 10rem;
  	margin-top: 2%;
  	margin-bottom: 7%;
  }
}


@media screen and (max-width: 70em) {
  h1 {
  	font-size: 3rem;
  }
}


@media screen and (max-width: 60em) {
  .project-img {
  	margin-top: 20%;

	}

	.project-info {
  	padding: 1rem 9rem;
  	margin-bottom:10%;
  }
}


@media screen and (max-width: 40em) {
  .project-info {
  	flex-direction: column;
  	padding: 1rem 5rem;
  	text-align: center;
  	margin-bottom:20%;

  }

  .project-info p {
  	max-width: 100%;
  }

  h1 {
  	margin-bottom: 4%;
  }

  .project-img {
  	margin-top: 30%;

	}

	.product-grid {
		grid-template-columns: repeat(1, 1fr);
		margin-bottom: 10%;
	}

	.project-content {
		margin-bottom: 8%;
		max-width: 100%;

	}

	#final .text-link {
		font-size: 1.4rem;
	}



}
