/* Project 1 VIFF CSS */


#overview, #final, #client, #research, #passport, #design, #feedback, #art, #mockups, #takeaways {
	border-top: solid 0.01rem var(--light-purple);
	padding: 6rem 14rem;
}


#final h2 {
	margin-bottom: 4%;
}


.viff {
	margin: 4% 0;
	max-width: 100%;
	width: 90%;
}

.museum {
	margin-top: 5%;
	width: 50%;
}

.sitemap {
	width: 80%;
}
 

.moodboard {
	padding-top: 5%;
	width: 100%;
}

.mockups {
	width: 100%;
	margin-bottom: 2%;
	border: solid 0.01rem var(--purple);
}

.lp {
	margin-top: 1%;
	width: 100%;
	border: solid 0.01rem var(--purple);
}
.lp-2 {
	margin-top: 5%;
	width: 100%;
	border: solid 0.01rem var(--purple);
}

@media screen and (max-width: 80em) {
	#overview, #final, #client, #research, #passport, #design, #feedback, #art, #mockups, #takeaways {
		padding: 6rem 9rem;
	}

}


@media screen and (max-width: 70em) {
	#overview, #final, #client, #research, #passport, #design, #feedback, #art, #mockups, #takeaways {
		padding: 6rem 5rem;
	}
}



@media screen and (max-width: 50em) {
	#overview, #final, #client, #research, #passport, #design, #feedback, #art, #mockups, #takeaways {
		padding: 6rem 3rem;
	}
}

@media screen and (max-width: 45em) {
	#main {
		padding: 0;
	}

	.company-box {
		flex-direction: column;
	}

}
@media screen and (max-width: 35em) {
	#overview, #final, #client, #research, #passport, #design, #feedback, #art, #mockups, #takeaways {
		padding: 6rem 2rem;
	}

	.viff, .museum, .sitemap {
		width: 100%;
	}

	.next-box {
		margin-top: 30%;
	}

}